.App {
    text-align: center;
}

.custom-button-group {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    text-align: center;

}

.MuiInputBase-root{
    background-color: white!important;
}